*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/app/src/androidTest/java/com/example/aplikacjadlabiegacza/
/app/src/release/res/values/
/app/src/test/java/com/example/aplikacjadlabiegacza/
/app/src/debug/res/values/google_maps_api.xml
/app/google-services.json
/app/proguard-rules.pro
